nav.mainNav {
	background-color: white;
	padding: 0 0.5em;
	border-bottom: 0.05em solid #989898;
	a {
		display: inline-block;
		text-decoration: none;
		border: 0.1em solid #ffbe0d;
		border-radius: 0.3em;
		color: #fff;
		background: #1a0dff;
		padding: 0.8em 1em 1.6em 1em;
		margin: 0.7em 0.5em;
		font-size: 0.8em;
		height: 0.3em;
	}
	a:hover {
		background: #959ffed4;
	}

	a.active {
		background: #fff;
		color: #000;
	}

	a.active:hover {
		background: #eef1ff;
	}
}