.lexiconComponent {
    width: 70%;
    text-align: center;
    margin: 1em 0 5em 13em;
    h1 {
        font-size: 1.2em;
        font-weight: 500;
        margin: 1em 1em;
    }
    a {
        display: inline-block;
		text-decoration: none;
		border: 0.1em solid #ffbe0d;
		border-radius: 0.3em;
		color: #fff;
		background: #1a0dff;
		padding: 0.8em 1em 1.6em 1em;
		margin: 0.7em 0.5em;
		font-size: 0.6em;
		height: 0.1em;
    }
    a:hover {
		background: #959ffed4;
    }
    .linkList {
        display: inline-block;
        margin: 0 0 0.5em 0.5em;
        border: 0.01em solid rgb(138, 135, 135);
        width: 40%;
    }
    table {
        border-collapse: collapse;

        th {
            border: 1px solid #000;
            background: #1a0dff;
            color: #fff;
            padding: 0.25em;
        }
        
        td {
            border: 1px solid #000;
            padding: 0.25em;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    .expandable {
        .content {

        }

        input[type='checkbox'] {
            display: none;
        }
        .toggle {

        }

        .lbl-toggle {
            display: block;

            cursor: pointer;
            color: #85a891;

            border-radius: 7px;
            transition: all 0.25s ease-in-out;

            &::before {
                content: ' ';
                display: inline-block;

                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid currentColor;

                vertical-align: middle;
                margin-right: 0.7rem;
                transform: translateY(-2px);

                transition: transform 0.2s ease-out;
            }

            &:hover {
                color: #515356;
            }
        }

        .toggle:checked + .lbl-toggle + .collapsible-content {
            max-height: 350px;
        }

        .toggle:checked + .lbl-toggle::before {
            transform: rotate(90deg) translateX(-3px);
        }

        .toggle:checked + .lbl-toggle {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .collapsible-content .content {
            border-bottom: 1px solid rgba(250, 224, 66, 0.45);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        .collapsible-content {
            max-height: 0px;
            overflow: hidden;

            transition: max-height 0.25s ease-in-out;
        }
    }
}