.mandoa {
    font-family: "Mandalorian";
    font-size: 14pt;
}

@font-face {
    font-family: Mandalorian;
    src: url(mandalor.ttf) format('truetype');
    src: url(mandalor.woff) format('woff');
    src: url(mandalor.woff2) format('woff2');
    font-weight: normal;
}